/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.settingsDiv {
  min-height: 50 px;
}

/* stop hover */
.btn:hover {
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: var(--bs-btn-bg);
}


/* .countdown-card {
  border: 2rem solid red;
  position: relative;
  width: 200px; /* Adjust the width as needed */
  /* height: 200px;  */
  /* border-radius: 50%;  */


/* .countdown-mask {
  border: 2rem solid green;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: center center;
  transform: rotate(0deg);} */

/* .countdown-text {
  color: blue;
  text-align: center;
  line-height: 200px; */

/* CSS for wide buttons */
.btn-wide {
  flex-grow: 1; /* Makes the button as wide as the available space */
  margin: 0 3px; /* Margin between buttons */
  min-width: 0; /* Ensure the button can shrink if needed */
  width: auto; /* Allow the button's content to determine its width */
  white-space: nowrap; /* Prevent button content from wrapping */
  overflow: hidden; /* Hide content that overflows */
  text-overflow: ellipsis; /* Show ellipsis for truncated content */
  border-radius: 5px;
  text-align: center;
  font-weight: bold; /* Makes the text bold */
  font-size: 20em;
}

/* CSS for normal-sized buttons */
.btn-normal {
  width: auto; /* Lets the button size itself based on content */
  margin-right: 5px; /* Optional margin between buttons */
}


.fixed-buttons {
  position: fixed;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  left: 10px;
  right: 10px; /* Adjust the distance from the right as needed */
  z-index: 1000; /* Adjust the z-index as needed */
  display: flex; /* Use flexbox to create a row layout */
  justify-content: space-between; /* Distribute space between buttons */
  margin: 0 -3px; /* Negative margin to offset the margin between buttons */
  align-items: center;
}

.fixed-buttons2 {
  position: fixed;
  bottom: 60px; /* Adjust the distance from the bottom as needed */
  left: 10px;
  right: 10px; /* Adjust the distance from the right as needed */
  z-index: 1000; /* Adjust the z-index as needed */
  display: flex; /* Use flexbox to create a row layout */
  justify-content: space-between; /* Distribute space between buttons */
  margin: 0 -3px; /* Negative margin to offset the margin between buttons */
  align-items: center;
}

.fixed-buttons3a {
  position: fixed;
  bottom: 110px; /* Adjust the distance from the bottom as needed */
  left: 9px;
  right: 9px; /* Adjust the distance from the right as needed */
  z-index: 1000; /* Adjust the z-index as needed */
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: space-between;
  border-radius: 3%;
  color: #61dafb;
  font-size: xx-large;
}




.Timer {
  flex-grow: 1; /* Makes the button as wide as the available space */
  margin: 0 3px; /* Margin between buttons */
  min-width: 0; /* Ensure the button can shrink if needed */
  width: auto; /* Allow the button's content to determine its width */
  white-space: nowrap; /* Prevent button content from wrapping */
  overflow: hidden; /* Hide content that overflows */
  text-overflow: ellipsis; /* Show ellipsis for truncated content */
  border-radius: 5px;
  text-align: center;
  font-weight: bold; /* Makes the text bold */
  background-color: orange;
  color: black;

}


.Pause {
  flex-grow: 1; /* Makes the button as wide as the available space */
  margin: 0 3px; /* Margin between buttons */
  min-width: 0; /* Ensure the button can shrink if needed */
  width: auto; /* Allow the button's content to determine its width */
  white-space: nowrap; /* Prevent button content from wrapping */
  overflow: hidden; /* Hide content that overflows */
  text-overflow: ellipsis; /* Show ellipsis for truncated content */
  border-radius: 5px;
  text-align: center;
  font-weight: bold; /* Makes the text bold */
  background-color:grey;
  color: orange
}

#emptyholder{
  height: 148px;
  width: max-content;

}






/* Gridsystem  */

.basic-grid{
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card_one {
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  background-color: grey;
  font-size: 2rem;
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-3px) scale(1.1);
}
